<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DbConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\users\шахпутовг\source\repos\11.04\11.04\DataBase.mdf;Integrated Security=True"/>
  </appSettings>
</configuration>